doctype html
div(*ngIf="!has_ipc")
    p Home Page (Web Version)
    button((click)="do_alert()") Click to Alert
div(*ngIf="has_ipc")
    p Home Page (Electron Version)
    button((click)="do_ping()") Click to Ping Node