// Screen
// ======

@import "../../node_modules/compass-mixins/lib/compass/reset";
@import "../../node_modules/susy/sass/susy";
@import "../../node_modules/compass-mixins/lib/compass/css3/box-shadow";

$main-background: #F0F2F5;
$menu-background: #37455F none repeat scroll 0% 0%;
$menu-border: 1px solid #445675;
$hover-color: #DC6767;
$font-color: #777;

$susy: (
  columns: 12,
  gutters: 1/4,
  gutter-position: split,
  global-box-sizing: border-box,
  debug: (image: show),
);

@include border-box-sizing;

ul.selector {
	@include span(12);
	font-size: 16px;

	& > li {
		@include span(12);
		margin-top: 10px;
		& > label {
			margin-left: 10px;
		}
	}
}

ul.menu {
	& > li {
		position: relative;
		& > a {
			@include span(12 nest);
			text-decoration: none;
			color: #fff;
			font-size: 16px;
			padding: 18px;
			&:hover {
				background: $hover-color none repeat scroll 0% 0%;
				transition: all 0.1s ease-in-out 0s;
			}
		}
	}
	&.horizontal {
		@include span(6 last);
		& > li {
			float: right;
			& > a {
				border-left: $menu-border;
			}
		}
	}
	&.vertical {
		& > li {
			& > a {
				border-top: $menu-border;
			}
		}
	}
}

ul.code-checks {
	@include span(12);

	padding-top: 20px;
	& > li {
		@include span(12);
		padding: 5px;
		font-size: 16px;

		& > span {
			font-weight: bold;
		}
	}
}

ul.dropdown {
	position: absolute;
	top: 100%;
	right: 0;
	//z-index: 1000;
	border: 1px solid rgba(0, 0, 0, 0.15);
	// border-radius: 4px;
	box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
	background-color: #FFF;
	width: 400px;
	& > li {
		float: none;
		padding: 15px;
	}
}

body {
	@include container(100%);
	font-family: "Open Sans", sans-serif;
	font-size: 15px;
	background: $main-background;
	color: $font-color;

	.login-shield {
		width: 100%;
		height: 100%;
		background: url(http://swlabs.co/madmin/code/images/bg/1.jpg);
		main {
			@include span(isolate 2 at 6);
			padding: 20px;
			margin-top: 200px;
			background: #EEE;
			box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
		}
	}

	.simulation-app {

		nav {
			@include span(12 nest);
			background: $menu-background;
			h1 {
				@include span(2);
				color: #fff;
				// padding: 8px;
				margin-left: 20px;
				margin-top: 10px;
				font-size: 30px;
				font-weight: bold;
				font-family: "Oswald", sans-serif;
			}
		}
		aside {
			@include span(2 nest);
			background: $menu-background;
		}
		main {
			@include span(10 nest last);

			header {
				@include span(12 nest);
				background: #fff;
				box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.05);
				//margin-bottom: 20px;

				h1 {
					@include span(4);
					padding: 15px;
					font-size: 25px;
					font-weight: 300;
				}

				& > form {
					@include span(8 last);
					padding: 10px;
				}

			}

			section {
				@include span(12);

				.panel {

					form {
						@include span(12);

						.simulation-parameter {
							@include span(12);
							// border-bottom: $menu-border;

							select {
								@include span(6);
							}

							label {
								@include span(12);
								text-align: left;
								margin-top: 20px;
								margin-bottom: 10px;
							}

							p {
								@include span(6 last);
								font-size: 10px;
								font-weight: normal;
								text-align: right;
							}

						}
					}
				}
			}
		}
	}
}

progress {
	@include span(12);
	margin-top: 10px;
	margin-bottom: 10px;
	height: 20px;
	background-color: #f3f3f3;
	border: 0;
	border-radius: 9px;
}

.progress-bar {
	@include span(12);
	height: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-color: whiteSmoke;
	border-radius: 2px;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25) inset;
	& > div {
		background-size: 35px 20px, 100% 100%, 100% 100%;
		background-image:
			linear-gradient(-45deg, transparent 33%, rgba(0, 0, 0, .1) 33%, rgba(0,0, 0, .1) 66%, transparent 66%),
			linear-gradient(to bottom, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.25)),
			linear-gradient(to right, #09c, #f44);
		// background-color: blue;
		border-radius: 2px;
		float: left;
		height: 100%;
		text-indent: -9999px;
	}
}

a, button {
	cursor: pointer;
	&[disabled] {
		cursor: default;
		pointer-events: none;
	}
}

button, input[type=checkbox] {
	color: $font-color;
	width: auto;
	font-size: 14px;
	font-weight: 300;
	margin-left: 5px;
	margin-right: 5px;
	display: inline-block;
	background-color: #EFEFEF;
	border: 1px solid #E5E5E5;
	padding: 6px;
	transition: all 0.3s ease 0s;
	&[disabled] {
		background-color: white;
		color: #D4D4D4;
	}
	&.toggled {
		color: $hover-color;
		background-color: white;
		border-color: $hover-color;
	}
	&:hover {
		color: white;
		background-color: $hover-color;
		border-color: $hover-color;
	}
}

select, input {
	@include span(12);
	padding: 5px;
	font-size: 17px;
	line-height: 1.42857;
	color: #555;
	background-color: #FFF;
	background-image: none;
	border: 1px solid #CCC;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.form-line {
	@include span(12);
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
}

// ACCORDION
.accordion {
	@include span(12);

	.accordion-block {
		@include span(12);

		a {
			@include span(12 nest);
			padding: 10px;
			color: grey;
			border-bottom: 1px dotted #CCC;
			text-align: right;
			text-decoration: none;
			font-size: 110%;

			&:hover {
				color: $hover-color;
				border-color: $hover-color;
				border-style: solid;
			}

		}

		&.opened {
			padding-bottom: 20px;
			border-bottom: 1px dotted #CCC;
			a {
				color: $hover-color;
				border-style: solid;
				//background-color: #FAFAFA;
			}
		}

		.accordion-content {
			@include span(12 nest);
		}
	}
}

// TOGGLE
.toggle-switch {
	@include span(6);
	border: 1px solid;
	cursor: pointer;
	display: inline-block;
}

.ng2-ace-editor {
	@include span(12 nest);
	position: relative;
	height: 600px;
	border: #CCC solid 1px;
}

.ng2-vis-graph2d {
	@include span(12);
	// height: 500px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.default-chart-line {
	fill: #f2ea00;
	fill-opacity:0;
	stroke-width:2px;
	stroke: #b3ab00;
}

.error {
	color: red;
}

.lined {
	border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.panel {
	background: #fff;
	padding: 15px;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.05);
	border: 1px solid #DDD;
	margin-top: 20px;

	&.inputs, &.tracks {
		@include span(12);
	}

	&.outputs {
		@include span(3 last);
	}

	&.chart, &.matrix {
		@include span(9);
	}

	&.editor {
		@include span(7);
	}

	&.check {
		@include span(5 last);
	}

}

.input-block {
	@include span(3);
}

.result-block {
	@include span(9 last);
}

.output {
	@include span(12);
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;

	h5 {
		@include span(12);
		padding: 5px;
		font-size: 13px;
		// background-color: #FFF;
	}

	p {
		@include span(12);
		padding: 6px;
		font-size: 16px;
		background-color: #EEE;
	}
}

.half-left {
	@include span(6);
}

.half-right {
	@include span(6 last);
}


table {
	@include span(12);
	margin-top: 5px;

	thead {
	}

	tbody {

		tr {
			cursor: pointer;
			// transition: all 0.1s ease-in-out 0s;

			&.selected {
				color: $hover-color;
			}

			&:hover {
				background: $hover-color;
				color: white;
			}

		}

	}

	tr {
		background: white;
		border-spacing: 0px;
		border-collapse: collapse;
	}

	td {
		text-align: right;
		padding: 10px;
		border-top: 1px solid #EFEFEF;
		&:first {
			text-align: left;
		}
	}
}

table {
	input {
		font-size: 15px;
		padding-bottom: 2px;
		padding-top: 2px;
		border: 1px dashed #DDD;
	}
}

hr {
	@include span(12);
	//border: 1px solid $hover-color;
}

.unavailable {
	text-decoration: line-through !important;
}

.modal-dialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	background: rgba(0, 0, 0, 0.7);
	z-index: 99999;
	opacity: 1;
	transition: opacity 400ms ease-in;
	// pointer-events: none;

	& > form {
		@include span(isolate 4 at 5);
		margin-top: 10%;
		padding: 20px;
		border-radius: 1px;
		background: #fff;
		background: linear-gradient(#fff, #999);
		// box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.05), 0px 1px 0px rgba(0, 0, 0, 0.05);
	}
}
